/*FOOTER*/
.app__footer {
  width: 100vw;
  height: 100px;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__items {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date {
  color: var(--nice-gray);
  font-weight: bold;
  font-size: 15px;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul li {
  list-style: none;
  cursor: pointer;
  background-color: var(--nice-gray);
  text-transform: capitalize;
  padding: 5px;
  font-weight: bold;
  margin-left: 3px;
  letter-spacing: 0.2px;
}
ul li a {
  color: var(--dark-gray);
  text-decoration: none;
}

ul li a:hover {
  opacity: 0.9;
  color: var(--secondary);
}

@media screen and (min-width: 768px) {
  .footer__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
